.user-display {
  height: 400px;
  width: 100%;
  padding-top: 15px;
  background: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/noisy.png");;
}

.user-display img {
display: block;
margin: 0 auto
}

.user-display h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 1.7rem;
}