/* Nav Style */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  z-index: 1;
  background: #4056A1;
  color: #ffffff;
  padding: 1.5rem;
}

/* Logo Style */
nav .heading {
  font-family: 'Bungee', sans-serif;
  font-size: 2.5rem;
  padding-top: 1rem;
}

/* Compose New Tweet Button */
nav .compose {
 font-size: 2.3rem;
 color: #fff;
 display: flex;
 flex-direction: column;
 padding-top: 0.75rem;
 margin-right: 0.75rem;
}

nav .compose div {
  text-align: center;
}

nav .compose i {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: #ca5462;
}

nav .compose i:hover {
  cursor: pointer;
}

/* Bounce Effect */
@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
.bounce {
  animation: bounce 1.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
