/* Tweet Container */
#published-tweets {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* Tweet Styling */
.tweet {
  border: 3px solid #000000;
  margin: 0 5vw;
  margin-bottom: 2.5%;
  width: 90%;
  padding: 1.0em  1.2em;
  height: 300px;
}

.tweet:hover {
  box-shadow: 5px 5px 5px 5px #c6cbe1;
}

/* Header */
.tweet header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet header .display-name{
  display: inline-block;
  margin-left: 1rem;
}

.tweet header .user-name {
  color: #7988BD;
  display: none;
}

.tweet:hover header .user-name {
  display: inline-block;
}

/* Tweet Text */

.tweet .tweet-body {
  margin: 1rem 0.5rem;
}

.tweet .tweet-body p {
  font-weight: 700;
  word-wrap: break-word;
}

/* Footer */
.tweet footer {
  display: flex;
  margin-top: 1.6rem;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  border-top: 3px solid #000000;
}

.tweet footer span {
  right: 1rem;
  color: #4056A1;
}